[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/libesphttpd"]
	path = components/libesphttpd
	url = https://github.com/chmorgan/libesphttpd.git

[submodule "components/espfs"]
	path = components/espfs
	url = https://github.com/jkent/esp32-espfs.git
[submodule "components/freeRTOScpp"]
	path = components/freeRTOScpp
	url = https://github.com/richard-damon/FreeRTOScpp.git
